<template>
  <nb-container v-if="loaded" :style="{backgroundColor: '#fff'}">
    <status-bar :barStyle="'light-content'"></status-bar>
      <nb-header>
        <nb-body>
          <nb-text>NotificaLOG</nb-text>
        </nb-body>
      </nb-header>
      <nb-content padder>
        <nb-form>
            <nb-item :error="(!$v.emailValue.required || !$v.emailValue.email ) && $v.emailValue.$dirty">
              <nb-input placeholder="Usuario" v-model="emailValue" auto-capitalize="none" :on-blur="() => $v.emailValue.$touch()"/>
            </nb-item>
            <nb-item last :error="!$v.password.required && $v.password.$dirty">
              <nb-input placeholder="Password" v-model="password" auto-capitalize="none" secure-text-entry :on-blur="() => $v.password.$touch()" />
            </nb-item>
            <nb-item>
              <nb-input placeholder="Escola" v-model="client" auto-capitalize="none" secure-text-entry />
            </nb-item>
          </nb-form>
          <view :style="{marginTop:10}">
            <nb-button block :on-press="login">
              <nb-spinner v-if="logging_in" size="small" />
              <nb-text>Login </nb-text>
            </nb-button>
              <nb-button block :on-press="Ncodigo" :style="{marginTop:10}">
              <nb-text>Nao sei meu codigo!</nb-text>
            </nb-button>
          </view>
      </nb-content>
  </nb-container>
  <nb-spinner v-if="!loaded"></nb-spinner>
</template>

<script>
import { Dimensions, Platform, AsyncStorage } from "react-native";
import { Toast } from 'native-base';
import { NavigationActions } from 'vue-native-router';
import launchScreenBg from "../../assets/launchscreen-bg.png";
import launchscreenLogo from "../../assets/logo-kitchen-sink.png";
import { required, email } from 'vuelidate/lib/validators'
import store from '../store';

export default {
  props: {
    navigation: {
      type: Object
    }
  },
  computed: {
    logging_in () {
      return store.state.logging_in;
    }
  },
  validations: {
    emailValue: {
      required,
      email
    },
    password: {
      required
    }
  },
  data: function() {
    return {
      emailValue: '',
      password: '',
      loaded: false
    };
  },
  created() {
    AsyncStorage.getItem('email').then((val) => {
      if (val) {
        this.loaded = true
        this.navigation.navigate('Home')
        store.dispatch('SET_USER', {userObj: {email: val}})
      } else {
        this.loaded = true
      }
    })
  },
  methods: {
    login() {
      if (this.emailValue && this.password && !this.$v.emailValue.$invalid) {
        store.dispatch('LOGIN', {
          userObj: {email: this.emailValue},
          navigate: this.navigation.navigate
        });
      } else {
        Toast.show({
          text: 'Usuario, senha ou Escola incorretos!',
          buttonText: 'Ok'
        })
      }
    },
    Ncodigo() {
      Toast.show({
        text: 'REDIRECIONADO PARA O APP DA ESCOLA',
        buttonText: 'OK!'
      })
    }
  }
};
</script>